Source: clamtk-gnome
Section: utils
Priority: optional
Maintainer: Dave M <dave.nerd@gmail.com>
Build-Depends: debhelper (>= 11), dh-python
Standards-Version: 3.9.5
Homepage: https://github.com/dave-theunsub/clamtk-gnome
Vcs-Git: git@github.com:dave-theunsub/clamtk-gnome.git
Vcs-Browser: https://github.com/dave-theunsub/clamtk-gnome.git

Package: clamtk-gnome
Architecture: all
Depends:
 clamtk (>= 6.00),
 python3-nautilus,
 python3,
 nautilus (>= 42)
Recommends: ${python3:Depends}
Description: simple extension for using clamtk with Gnome
 clamtk-gnome provides context menu support for use with Gnome's file manager
