Source: clamtk
Section: utils
Priority: optional
Maintainer: Dave M <dave.nerd@gmail.com>
Build-Depends: debhelper (>= 9~)
Build-Depends-Indep: liblocale-gettext-perl, gettext
Standards-Version: 3.9.8
Homepage: https://dave-theunsub.github.io/clamtk/
Vcs-Git: git://bitbucket.org:davem_/clamtk.git
Vcs-Browser: https://bitbucket.org/davem_/clamtk.git

Package: clamtk
Architecture: all
Depends:
 ${perl:Depends},
 clamav (>= 0.95),
 clamav-freshclam (>= 0.95),
 libgtk2-perl (>= 2:1.241),
 libtext-csv-perl,
 libwww-perl,
 libjson-perl,
 liblocale-gettext-perl,
 liblwp-protocol-https-perl,
 gnome-icon-theme,
 cron,
Suggests: cabextract
Description: graphical front-end for ClamAV
 ClamTk is an easy to use graphical front-end for Clam Antivirus.
