Source: thunar-sendto-clamtk
Section: xfce
Priority: optional
Maintainer: Dave Mauroni <dave.nerd@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 3.9.8
Homepage: https://github.com/dave-theunsub/thunar-sendto-clamtk
Vcs-Git: git@github.com:dave-theunsub/thunar-sendto-clamtk.git
Vcs-Browser: https://github.com/dave-theunsub/thunar-sendto-clamtk.git

Package: thunar-sendto-clamtk
Architecture: all
Depends: thunar, clamtk
Description: Simple virus scanning plugin for Thunar file manager
 A simple plugin to allow right-click virus scanning within Thunar
