Source: nemo-sendto-clamtk
Section: utils
Priority: extra
Maintainer: Dave M <dave.nerd@gmail.com>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.9.5
Homepage: https://bitbucket.org/davem_/nemo-sendto-clamtk/
Vcs-git: git@bitbucket.org:davem_/nemo-sendto-clamtk.git
Vcs-Browser: https://bitbucket.org/davem_/nemo-sendto-clamtk.git

Package: nemo-sendto-clamtk
Architecture: all
Depends: ${misc:Depends},
 nemo,
 clamtk (>= 5.00),
Description: Simple extension to add virus scanning to nemo
 A simple extension to add a virus scanning option to the nemo file manager
