Source: nemo-sendto-clamtk
Section: utils
Priority: optional
Maintainer: Dave M <dave.nerd@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 3.9.8
Homepage: https://github.com/dave-theunsub/nemo-sendto-clamtk
Vcs-git: git@github.com:dave-theunsub/nemo-sendto-clamtk.git
Vcs-Browser: https://github.com/dave-theunsub/nemo-sendto-clamtk.git

Package: nemo-sendto-clamtk
Architecture: all
Depends: ${misc:Depends},
 nemo,
 clamtk (>= 5.00),
Description: Simple extension to add virus scanning to nemo
 A simple extension to add a virus scanning option to the nemo file manager
