Source: clamtk-gnome
Section: utils
Priority: optional
Maintainer: Dave M <dave.nerd@gmail.com>
Build-Depends: debhelper (>= 9~), dh-python
Standards-Version: 3.9.5
Homepage: https://gitlab.com/dave_m/clamtk-gnome
Vcs-Git: git://bitbucket.org:davem_/clamtk-gnome.git
Vcs-Browser: https://bitbucket.org/davem_/clamtk-gnome.git

Package: clamtk-gnome
Architecture: all
Depends:
 ${python3:Depends},
 clamtk (>= 5.20),
 python-nautilus,
 python3
Description: simple extension for using clamtk with Gnome
 clamtk-gnome provides context menu support for use with Gnome's file manager
