Source: clamtk-gnome
Section: utils
Priority: optional
Maintainer: Dave M <dave.nerd@gmail.com>
Build-Depends: debhelper (>= 9~), dh-python
Standards-Version: 3.9.5
Homepage: https://github.com/dave-theunsub/clamtk/
Vcs-Git: git://bitbucket.org:davem_/clamtk-gnome.git
Vcs-Browser: https://bitbucket.org/davem_/clamtk-gnome.git

Package: clamtk-gnome
Architecture: all
Depends:
 ${python:Depends},
 clamtk (>= 5.20),
 python-nautilus,
 python,
Description: simple extension for using ClamTk with Gnome
 clamtk-gnome provides context menu support for use with Gnome's file manager
